<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="background-image">
    <h2>にほんのうみ</h2>
    </div>
  </body>
</html>
