<!DOCTYPE html>
<html lang="`ja`" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="header">
    <h1>つぶやきで、世界はつながる</h1>
    <p>今の気持ちをつぶやいてみよう！</p>
    </div>
  </body>
</html>
